*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
    scroll-behavior: smooth;
    color: white;
    background-color: #0F172B ;
    
    
   
}
#port{
   font-weight: bold;
   font-style: italic;
}
#head {
    background-color: #0F172B;   
    z-index: +6;
    position: sticky;
    top: 0;
    
   
}
#head a{
    color: white;
}
#ul-listing a{
    /* color: white; */
    border: none;
}
#image1{
    width: 90%;
    
}#sec1{
   background-color: #0F172B;   

}
#career{
    font-weight: lighter;
}
#sec2{
   background-color: #0F172B;   

}
#sec9{
       background-color: #0F172B;   

}
#project_sec{
    background-color: #0F172B;
}


#resume{
    width: 50%;
}
#name{
    font-weight: 900;
}
#type{
    font-size: 48px;
    font-weight: lighter;
    
}
.social-media{
    width: 30%;
}
#about{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* color: white; */
}
.abouts{
   font-weight: lighter;
   /* color: white; */
}
#Skills{
     font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.image2{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#front{
     font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.furni{
    width: 100%;
    object-fit: cover;
}


  
 
 .footer{
    display: flex;
    justify-content: center;
    align-items: center;
 }
#java{
    margin-left: 25%;
}
#react{
    margin-left: 15%;
}
#html{
     margin-left: 15%;
}
#bootstrap{
    margin-left: 30%;
}
#vscode{
    margin-left: 25%;

}
.image4{
    width: 20px;
}
#sec7{
    width: 100%;
    background-color: #0F172B;
}
#sec7-inner{
    width: 90%;
    background-color: #0F172B;
    margin: auto;
    display: flex;
}
#sec7div{
    width: 48%;
    background-color: #0F172B;
    padding: 2%;
    margin: 1%;
}
#sec7div1{
    width: 48%;
    background-color: #0F172B;
    padding: 2%;
    margin: 1%;
}
#amazing{
    font-size: 30px;
}
input{
    width: 68%;
    background-color: white;
    padding: 1%;
    margin: 1%;
    border: 1px solid white;
}
#textarea{
    width: 68%;
    background-color: white;
    padding: 1%;
    margin: 1%;
}
#button {
    width: 38%;
    background-color: #0F172B;   
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
#subdiv{
    width: 43%;
    background-color: #0F172B;    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid orange;
    align-items: center;
    text-decoration: none;

}
.navbar-toggler{
    border: 2px solid orange !important;
}
#subdiv a{
     text-decoration: none;

}
#button a{
    color: white;
    text-decoration: none;
}
#ul-listing1{
    width: 90%;
    background-color: #0F172B;
   
    display: flex;
}
.ul-listing1box{
    width: 18%;
    margin: 1%;
     display: flex;
    justify-content: center;
    align-items: center;
}
.image77{
    width: 50%;
}
#gmail {
   color: white;
}
#fixedbox{
    width: 10%;
    padding: 2%;
    position: fixed;
    z-index: 30;
    bottom: 2%;
    right: 2%;
    border-radius: 50%;
}
.image777{
    width: 90%;
}
#say-hi{
    color: khaki;
}
#Start{
    font-weight: 800;
}
#amazing{
    font-size: 25px;
}